.wp-gdk-admin-page th:first-child {
    width: 10%;
}

.wp-gdk-gallery-items th:first-child {
    width: 5%;
}

.wp-gdk-gallery-item td {
    text-align: center;
}

.wp-gdk-gallery-item img {
    display: inline-block;
    max-height: 150px;
}

.wp-gdk-drag-and-drop {
    cursor: move;
}

.widefat td.wp-gdk-drag-and-drop {
    font-size: 1.1rem;
    font-weight: bold;
    vertical-align: middle;
}

.widefat tr.wp-gdk-list-placeholder {
    border: 1px solid red;
}

.widefat td.wp-gdk-list-actions {
    text-align: right;
}

.wp-gdk-gallery-items th {
    text-align: center;
}

.wp-gdk-gallery-item.ui-sortable-helper td {
    display: none;
}

.wp-gdk-gallery-item.ui-sortable-helper td.wp-gdk-drag-and-drop,
.wp-gdk-gallery-item.ui-sortable-helper td.wp-gdk-item-image {
    display: table-cell;
}
